.row {margin:0px}

body {
    font-family: "Montserrat-Black, sans-serif";
    text-align: center;
    max-width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat-Bold, sans-serif";
    font-weight: bold;
  }
  /* 
  Heading Section */
  
  .big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 2rem;
    line-height: 1.5;
  }
  ul
  {
   text-align: right;
  }
  p {
    color: #8f8f8f;
  }
  
  /*Containers */
  .container-fluid {
    padding: 7% 15%;
  }
  
  /* Section */
  
  .colored-section {
    background-color: #ff4c68;
    color: #fff;
  }
  
  .white-section {
    background-color: #fff;
  }
  
  /* Title section */
  
  #title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 2% 15% 7%;
  }
  
  .feature-title {
    font-size: 1.7rem;
  }
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 3.5rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  
  /* Download buttons */
  
  .Download-buttons {
    margin: 5% 3% 5% 0;
  }
  
  /* Image */
  .Image {
    max-width: 35%;
    transform: rotate(20deg);
    position: absolute;
    max-height: 91%;
    right: 22.5%;
  }
  
  /* Features */
  
  #features {
    margin: auto 4%;
    background-color: #fff;
    position: relative;
  }
  
  .text {
    padding: 5%;
  }
  
  .icon {
    color: #ef8172;
  }
  
  .icon:hover {
    color: #ff4c68;
  }
  
  /* Testimonial Section */
  #testimonials {
    text-align: center;
    background-color: #ef8172;
  }
  
  .testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
  }
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  #press {
    background-color: #ef8172;
    padding-bottom: 3%;
  }
  
  .cred {
    width: 15%;
    margin: 20px 20px 20px 50px;
  }
  
  /* Pricing Section */
  
  #pricing {
    padding: 80px;
  }
  
  .price-text {
    font-size: 2rem;
    line-height: 1.5;
  }
  
  .card {
    margin: auto 20px;
  }
  
  /* Footer Section */
  
  #footer i {
    margin: 20px 10px;
  }
  
  @media (max-width: 1028px) {
    .big-heading {
      font-size: 3.2rem;
      line-height: 1.5;
    }
  
    .Image {
      position: static;
      transform: rotate(0);
      max-width: 50%;
    }
  
    #title {
      text-align: center;
    }
  
    .card {
      margin: 0;
    }
  
    .ctaa {
      font-size: 2.5rem;
      line-height: 1.5;
    }
  }
  
